@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  /* color: white; */
  background-color: black !important; }
.t-title{
  color: #4aca85;
  /* font-weight: bold; */
  margin-top: 50px;
  font-size: 40px;
}
.data-table-container {
  background: white;
  color: black;
  padding: 30px;
  margin: 50px;
  margin-top: 35px;
  border-radius: 10px; }

.dataTables_length select {
  padding: 0 !important;
  padding-left: 10px !important; }

div#example_filter {
  margin-bottom: 30px; }

.align-right {
  float: right; }

.add-record {
  margin-left: 20px !important;
  display: inline !important;
  border: 2px solid #4aca85 !important;
  padding: 8px 15px !important;
  border-radius: 5px !important;
  color: #4aca85 !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  background: transparent;
  font-size: 16px !important;
text-decoration: none !important;}

.paginate_button active a{
  background: red;
}


.add-all-records {
  padding: 3px 15px !important; }

.fill-field {
  color: red;
  font-weight: 500;
  display: none; }

#example input, #example select {
  font-size: 14px;
  padding: 5px 5 5px 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent; }

#example input:focus, #example select:focus {
  outline: none;
  border-bottom: 1px solid #757575; }



a {
  color: #4aca85;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #4aca85;
    outline: none;
    text-decoration: none; }
input[type="text"] {
  height: 50px; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: white;
  font-family: "Nunito", Arial, sans-serif !important;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.3; }

.modal-content {
  color: #000 !important; }
  .modal-content h4 {
    color: #000 !important; }
  .modal-content .modal-body .field-input {
    border-radius: 5px;
    border: 1px solid #adadad;
    height: 40px;
    margin-bottom: 10px; }

::-webkit-selection {
  color: #fff;
  background: #4aca85; }

::-moz-selection {
  color: #fff;
  background: #4aca85; }

::selection {
  color: #fff;
  background: #4aca85; }

.pagination >li:nth-child(2) >a{
  background-color: #4aca85 !important;
}

th{
  text-align: center !important;
}

.add-record, .buttons-excel{
  font-weight: bold !important;
}